.content-button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

h3 {
  color: #835afd;
  font-weight: 550;
  margin-bottom: 2em;
}

select {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}

form {
  textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 16px;
    border-radius: 8px;
    background: #fefefe;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    resize: vertical;
    min-height: 120px;
    margin: 9px;
  }
}
